{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/autoclave_javascript.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/autoclave.css') }}">


<section>
  <form id="process" method="POST" action='#'>
  <fieldset>
      <select name="selection" id="select">
            <option value="reiniciar">Reiniciar</option>
            <option value="apagar">Apagar</option>
            <option value="autoclave" selected>Activar Auto Clave></option>
      </select>

      <input type="checkbox" id="confirm">
      <button class="button" type="submit">+</button>
  </fieldset>
</form>
</section>



<form id="setpoints" method="POST" action='#'>

    <div class="caja1">Tiempo [rpm]: <br>
              <input type="number"
                     id="alimentar"
                     style="width: 50px;"
                     value=""
                     MIN="0"
                     MAX="150"
                     step="1"
              />
              <button  type="submit" class="button_apply"> + </button>
              <br><input  type="checkbox" id="alimentar_rst" /> Deshabilitar


    </div>



    <div class="caja_central">
      <!CAJA CENTRAL PARA EL DIBUJO>
    </div>


    <div class="caja3"> Temperatura [ºC]: <br>
            <input type="number"
                   id="temperatura"
                   value="25"
                   style="width: 50px;"
                   MIN="0"
                   MAX="100"
                   step="1"
            />

            <button  type="submit" class="button_apply"> + </button>     <br>
            <input  type="checkbox" id="temperatura_rst" /> Deshabilitar   <br>
    </div>




    <div class="caja_derecha_arriba1" id="med1"></div>
    <div class="caja_derecha_arriba2" id="med2"></div>
    <div class="caja_derecha_arriba3" id="med3"></div>



</form>

<br>
<br>
<br>



{% endblock %}
